<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="CS_ADO_NET"
        connectionString="Data Source=(LocalDB)\v11.0;
               AttachDbFilename=C:\Users\Everton\Dropbox\
               Livros\Windows Forms\Capítulo 05\SolutionADO_NET
               \ADO_NETProject01\App_Data\ADO_NETDatabase.mdf;
               Integrated Security=True"
        providerName="System.Data.SqlClient" />-->
    <add name="CS_ADO_NET"
        connectionString="Data Source=.\SQLEXPRESS;
               AttachDbFilename=C:\Users\Fabiopand\Desktop\BookSources\SolucaoCapitulo05\ADO_NETProject01\App_Data\ADO_NETDataBase.mdf;
               Initial Catalog=ADO_NETDataBase;
               User Instance=true;      
               Integrated Security=true;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>