ion-input.has-focus {
    background-color: rgb(250, 248, 246);
    border-radius: 10%;
    border: 1px solid black;
}

ion-item {
    --inner-padding-end: 3px;
    color: var(--ion-color-primary);
}

ion-input {
    color: black;
}