<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>General</title>
</head>
<body>
    <div>
        <h1>500</h1>
        <h2>Houston, temos um problema.</h2>
        <p>
            Infelizmente um erro interno ocorreu. Por favor, tente mais tarde ou entre em contato com o suporte.
            <br /><br />
            @HttpContext.Current.Session["ErrorException"].ToString().Substring(0, 400)
        </p>
        <p>
            <a href='@Url.Action("Index", "Home")'>
                Retornar ao início
            </a>
            <br>
        </p>
    </div>
</body>
</html>
