@model Capitulo01.Models.Departamento

@{
    Layout = "_LayoutIES";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
}

<div class="card-block">
    <div class="card-header text-white bg-secondary text-center h1">Exibindo uma departamento existente</div>
    <div class="card-body">
        <div class="form-group">
            <label asp-for="DepartamentoID" class="control-label"></label>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="DepartamentoID" class="form-control" disabled="disabled" />
            </div>
            <label asp-for="Nome" class="control-label"></label>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="Nome" class="form-control" disabled="disabled" />
            </div>
            <label asp-for="Instituicao.Nome" class="control-label"></label>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="Instituicao.Nome" class="form-control" disabled="disabled" />
            </div>
        </div>
    </div>
    <div class="card-footer bg-info text-center text-white">
        <a asp-action="Index" class="btn btn-danger">Retornar à listagem de Departamentos</a>
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalConfirmationDelete">
            Remover Departamento
        </button>
    </div>
</div>

<div class="modal fade" id="modalConfirmationDelete" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal">Remoção de Departamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Confirma a exclusão do departamento @Model.Nome.ToUpper() ??</p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="DepartamentoID" />
                    <input type="submit" value="Remover Departamento" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </form>
            </div>
        </div>
    </div>
</div>

