<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Http404</title>
</head>
<body>
    <div>
        <h1>404</h1>
        <h2>Houston, temos um problema.</h2>
        <p>
            Infelizmente, a página que você solicitou não existe.
        </p>
        <p>
            <a href='@Url.Action("Index", "Home")'>
                Retornar ao início
            </a>
            <br>
        </p>
    </div>
</body>
</html>
