@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listando os papéis registrados";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Página inicial da aplicação
    </div>
</body>
</html>
