@model Projeto01.Models.Fabricante

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando detalhes de um FABRICANTE";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Dados do fabricante a ser removido
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(model => model.Nome)<br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
    </div>
    <div class="panel-footer panel-info">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Remover FABRICANTE" class="btn btn-danger" />
            @Html.ActionLink("Retornar para a listagem", "Index", null, new { @class = "btn btn-info" })
        }
    </div>
</div>