^ContentPage {
    background-color: gray;
}

.header {
    font-size: large;
    text-align: center;
    margin-bottom: 5;
}

editor {
    height: 90;
    background-color:white;
}

#botaoGravar {
    background-color: orangered;
    color: white;
    font-size: 16;
    height: 30;
    width: 90;
}

