<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>12.0</string>
	<key>CFBundleDisplayName</key>
	<string>CC Foods</string>
	<key>CFBundleIdentifier</key>
	<string>br.edu.utfpr.TesteXR</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>(not set)</string>
	<key>CFBundleName</key>
	<string>CCFoods</string>
	<key>NSCameraUsageDescription</key>
	<string>Esta aplicação precisa acessar a câmera para tirar fotos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta aplicação precisa acessar suas fotos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Esta aplicação precisa acessar seu microfone.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Esta aplicação precisa acessar sua galeria de fotos.</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcons.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Launch.xcassets/LaunchImages.launchimage</string>
  <key>NSLocationAlwaysUsageDescription</key>
  <string>Your location is required for xyz benefits for you</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>Your location is required for xyz benefits for you</string>
</dict>
</plist>
