@model Modelo.Discente.Academico
@{
    Layout = "_LayoutIES";
}

<div class="card-block">
    <div class="card-header text-white bg-secondary text-center h1">Alterando um acadêmico existente</div>
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <form enctype="multipart/form-data" asp-action="Edit">
                        <input type="hidden" asp-for="AcademicoID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="RegistroAcademico" class="control-label"></label>
                            <input asp-for="RegistroAcademico" class="form-control" />
                            <span asp-validation-for="RegistroAcademico" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nascimento" class="control-label"></label>
                            <input asp-for="Nascimento" class="form-control" />
                            <span asp-validation-for="Nascimento" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Foto</label>
                            <input type="file" name="foto" class="form-control" />
                        </div>
                        <div class="form-group text-center h3">
                            <input type="submit" value="Atualizar Acadêmico" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-warning">Retornar à listagem de acadêmicos</a>
                        </div>
                    </form>
                </div>

                <div class="col-3">
                    <img class="img-thumbnail" src="@Url.Action("GetFoto", "Academico", new { id = Model.AcademicoID })" style="display:block; margin-left:auto;margin-right:auto;" />
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="chkRemoverFoto" value="Sim">Remover Foto
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-info text-center text-white">
            Informe os dados acima e/ou clique em um dos botões de ação
        </div>
    </div>
@section ScriptPage {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}