@{
    ViewData["Title"] = "Casa do Código - ASP.NET Core MVC";
    Layout = "~/Views/Shared/_LayoutIES.cshtml";
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="mx-auto d-block w-50" src="~/images/everton.jpg" alt="Everton Coimbra de Araújo">
        </div>
        <div class="carousel-item">
            <img class="mx-auto d-block w-75" src="~/images/casadocodigo.png" alt="Casa do Código">
        </div>
        <div class="carousel-item">
            <img class="mx-auto d-block w-75" src="~/images/aspnetcore.jpg" alt="ASP NET Core MVC">
        </div>
    </div>
</div>
