@model Modelo.Cadastros.Categoria

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Categoria</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Alterar", "Edit", new { id = Model.CategoriaId }) |
        @Html.ActionLink("Retornar para a listagem", "Index")
    </p>
</body>
</html>
