@model Modelo.Discente.Academico
@{
    Layout = "_LayoutIES";
}

@section styles {
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
}

<div class="card-block">
    <div class="card-header text-white bg-secondary text-center h1">Exibindo um acadêmico existente</div>

    <div class="card-body">
        <div class="row">
            <div class="col-9">
                <div class="form-group">
                    <label asp-for="AcademicoID" class="control-label"></label>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                        <input asp-for="AcademicoID" class="form-control" disabled="disabled" />
                    </div>
                    <label asp-for="RegistroAcademico" class="control-label"></label>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-address-card-o" aria-hidden="true"></i>
                        </span>
                        <input asp-for="RegistroAcademico" class="form-control" disabled="disabled" />
                    </div>
                    <label asp-for="Nome" class="control-label"></label>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        </span>
                        <input asp-for="Nome" class="form-control" disabled="disabled" />
                    </div>
                    <label asp-for="Nascimento" class="control-label"></label>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-address-card-o" aria-hidden="true"></i>
                        </span>
                        <input asp-for="Nascimento" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="col-3">
                <img class="img-thumbnail" src="@Url.Action("GetFoto", "Academico", new { id = Model.AcademicoID })" style="display:block; margin-left:auto;margin-right:auto;" />
                @Html.ActionLink("Download", "DownloadFoto", "Academico", new { id = Model.AcademicoID }, null)
            </div>
        </div>
    </div>
    <div class="card-footer bg-info text-center text-white">
        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.AcademicoID">Alterar</a> |
        <a asp-action="Index" class="btn btn-warning">Retornar à listagem de acadêmicos</a>
    </div>
</div>