@model Modelo.Cadastros.Departamento

@{
    Layout = "_LayoutIES";
}

@section styles {
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
}

<div class="card-block">
    <div class="card-header text-white bg-secondary text-center h1">Exibindo uma departamento existente</div>

    @Html.Partial("~/Views/Departamento/_PartialDetailsContentCard.cshtml", Model)

    <div class="card-footer bg-info text-center text-white">
        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.DepartamentoID">Alterar</a> |
        <a asp-action="Index" class="btn btn-warning">Retornar à listagem de departamentos</a>
    </div>
</div>