@model IEnumerable<Capitulo02.Models.Departamento>

<div class="card-block">
    <div class="card-header text-white badge-warning text-center">Departamentos Registrados na Instituição</div>
    <div class="card-body">
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Instituicao.Nome)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>