@model Capitulo01.Models.Instituicao

@{
    Layout = "_LayoutIES";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
}

<div class="card-block">
    <div class="card-header text-white bg-secondary text-center h1">Exibindo uma instituição existente</div>
    <div class="card-body">
        <div class="form-group">
            <label asp-for="InstituicaoID" class="control-label"></label>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="InstituicaoID" class="form-control" disabled="disabled" />
            </div>
            <label asp-for="Nome" class="control-label"></label>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="Nome" class="form-control" disabled="disabled" />
            </div>
            <label asp-for="Endereco" class="control-label"></label>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-address-card-o" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="Endereco" class="form-control" disabled="disabled" />
            </div>
        </div>
    </div>
    <div class="card-footer bg-info text-center text-white">
        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.InstituicaoID">Alterar</a> |
        <a asp-action="Index" class="btn btn-warning">Retornar à listagem de instituições</a>
    </div>
</div>