@model IEnumerable<Modelo.Docente.CursoProfessor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerificarUltimosRegistros</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Curso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Professor)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CursoID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProfessorID)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a asp-action="AdicionarProfessor">Voltar para Adicionar Professor</a>
    </p>

</body>
</html>